#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout-sider{
  background: linear-gradient(#f18764, #ed62a2) !important;
}
.ant-menu.ant-menu-dark{
  background: #00152900 !important;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #1890ff00 !important;
  border-left: 5px solid #fff;
}
.logo{
  padding: 10px 20px;
  background: #fff;
  margin: 10px;
}
a{
  color: rgba(0, 0, 0, 0.65) !important;
}
.ant-radio-inner{
  border-radius: 0px !important;
}